/* Modal */
:host {
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(.8);
  background: rgba(0,0,0,1);
  visibility: hidden;
  opacity: 0;
  z-index: 200;
  transition: opacity .3s, visibility .3s, transform .3s;

  /* Modal Open */
  &.show-modal {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
  }
}

// Buttons {
.close,
.prev,
.next {
  width: 30px;
  height: 30px;
  cursor: pointer;

  svg {
    path {
      fill: #ffffff;
    }
  }
}

/* Close Modal Button */
.close {
  position: absolute;
  top: 9px;
  right: 10px;
}
/* FullScreen Image */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* Set image to fit screen */
img {
  max-width: 100%;
  position: relative;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

/* Image info */
.image-info {
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.9);
  color: #ffffff;
  padding: 16px 28px;
  word-break: break-all;
  transform: translateY(240px);
  transition: transform 1s .25s;
  z-index: 200;
  display: flex;
  justify-content: space-between;
  align-items: center;

  :host.show-modal & {
    transform: translateY(0);
  }

  .buttons {
    width: 100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
    z-index: 300;
  }

  ul {
    padding: 0;
  }

  li {
    display: inline-block;
    font-size: 16px;
    text-align: left;
    list-style: none;
    opacity: 0;
    transition: opacity 1s;

    :host.show-modal & {
      opacity: 1;
    }

    strong {
      font-weight: bold;
      margin: 0 1px 0 0;
      font-size: 11px;
      display: block;
    }

    + li {
      margin: 0 0 0 20px;
    }

    @for $i from 1 through 3 {
      $delay: 500;
      $add: 100;
      &:nth-child($i) {
        transition-delay: $delay + ($add * $i)ms;
      }
    }
  }
}

::selection {
  background: transparent;
}
